/* resets box size of all elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* resets the whole html file elements */
html {
    height: 100%;
}

body {
    min-height: 100%;
    line-height: 1;
    font-family: sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
}

/* matches font of special elemnets to whole page */
input, select, option, optgroup, textarea, button,
pre, code {
  font-size: 100%;
  font-family: inherit;
}

/* removes browser default */