body {
    display: flex;
    flex-direction: column;
    background-color: lightgray;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding: 20px;
    background-color: #8d0f0f;
    color: antiquewhite;
}

li a {
    color: antiquewhite;
    font-weight: bold;
    text-decoration: none;
    margin: 5px;
}

h2 {
    text-align: center;
}

.menu {
    display: flex;
    list-style-type: none;
}

.hero {
    background-image: url(../images/red-banner.jpeg);
    color: antiquewhite;
}

.subtitle-heading {
    display: flex;
    justify-content: center;
    padding-right: 15px;
}

.about-section {
    display: flex;
    background-image: url(../images/red-banner.jpeg);
    color: antiquewhite;
    padding: 20px;
}

.about-me {
    display: flex;
    margin-left: 50px;
    background-color: #730303;
}

.about-content {
    margin-left: 10px;
    text-align: center;
    background-color: #730303;
}

.work {
    display: flex;
    background-image: url(../images/red-banner.jpeg);
    color: antiquewhite;
    padding: 20px;
}

.work-content {
    color: antiquewhite;
}

.project-section {
    display: flex;
    flex-wrap: wrap;
    margin-left: 50px;
    color: antiquewhite;
}
    
.project-card {
    width: 25%;
    min-height: 100px;
    border: 3px solid #730303;
    margin: 2px;
}

.project-card div {
    padding: 20px;
}

.contact-me {
    display: flow-root;
    background-image: url(../images/red-banner.jpeg);
    color: antiquewhite;
    padding: 20px;
}

.contact-div {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.contact-links {
    color: antiquewhite;
    margin: 15px;
}